.pagenation {
  display: flex;

  button {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 15px;

    &:disabled {
      background-color: lightgray;
    }
  }

  .page {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
  }
}
