.transactionitem {
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 10px 0;

  img {
    margin-right: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;

    @media only screen and (max-width: 650px) {
      min-width: 0;
    }

    .col_creator {
      width: 25%;
      text-align: left;
    }

    .col_royality {
      width: 25%;
      text-align: center;
    }

    .col_gasfee {
      width: 25%;
      text-align: left;
    }

    .col_timestamp {
      width: 25%;
      text-align: right;
    }

    .title {
      font-size: 16px;
      color: #000000;
      padding: 5px 0;
    }

    .value {
      font-size: 16px;
      color: rgba($color: #000000, $alpha: 0.42);
      padding: 5px 0;
    }
  }
}
