.container {
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .logoWrapper {
    position: absolute;
    top: 25px;
    left: 25px;
    @media only screen and (max-width: 400px) {
      display: none;
    }
  }

  .search {
    position: absolute;
    top: 15px;
    left: 250px;
  }

  .dashboard {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .rowContainer {
      width: 100%;
    }
  }
}
