.standardButton {
  background-color: #000000;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 30px;
  margin: 0 30px;
  font-size: 17px;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to right, #000000, #555555, #000000);
  }

  &:active {
    background: linear-gradient(to right, #555555, #000000, #555555);
  }

  &:disabled {
    background: none;
    background-color: #aabff6;
  }
}
