@import './variables.scss';

.logo {
  display: flex;
  margin: 50px 0;
  img {
    margin: auto;
  }
}

.search {
  form {
    margin: auto;
  }
}

.sticker_container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;

  @media only screen and (max-width: 1300px) {
    grid-template-columns: auto;
  }

  .sticker_list {
    background-color: $card-bg-color;
    border: 1px solid $card-bd-color;
    border-radius: 20px;
    padding: 50px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;

        span {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }

    .content {
      .loading {
        margin: auto;
      }

      .item {
        display: flex;
        margin: 20px 0;

        .thumb {
          width: 60px;
          height: 50px;
          margin-right: 30px;

          img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
          }
        }

        table {
          width: 100%;
          color: $extra-text-color;

          tr:nth-child(1) {
            td:nth-child(1) {
              color: black;
            }
          }

          tr {
            td:nth-child(1) {
              text-align: left;
            }
            td:nth-child(2) {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
