@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mobileMenu {
  position: absolute;
  top: 10px;
  right: 20px;
  display: none;
  cursor: pointer;
  @media only screen and (max-width: 800px) {
    display: block;
  }
}

.mobileShow {
  display: block !important;
}

.navbarContainer {
  width: calc(100% - 200px);
  padding: 20px 100px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media only screen and (max-width: 800px) {
    display: none;
  }
  .navsWrapper {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 800px) {
      position: absolute;
      flex-direction: column;
      top: 0;
      left: 0;
      background-color: #ffffff;
      width: 100%;
      padding: 10px 0;
      display: none;
    }

    a {
      all: initial;
      display: flex;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      height: 30px;
      margin: 0 30px;
      @media only screen and (max-width: 800px) {
        padding: 10px 0;
      }

      span {
        font-family: 'Roboto', sans-serif;
        color: rgba($color: #000000, $alpha: 0.42);
      }
    }

    .active {
      span {
        color: rgba($color: #000000, $alpha: 1);
      }
    }

    .loginWrapper {
      padding-left: 50px;
      @media only screen and (max-width: 800px) {
        padding: 10px 0;
      }
    }
  }
}
