.main {
  display: flex;
  align-items: center;

  
  div {
    color: #000000;
    font-size: 17px;
  }

  .dropdownStyle {
    background-color: #000000;
  }

  .arrow_icon {
    color: white;
    margin-right: 5px;
  }

  .menu_item {
    padding: 0,
  }
}