.footer {
  color: rgba($color: #000000, $alpha: 0.42);
  display: flex;
  flex-direction: column;
  background-color: #c4c4c4;
  padding: 50px;

  img {
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: transform 0.3s;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  .themeToggle {
    .dark {
      background-color: #000000;
      border-radius: 25px;
      transition: padding-left 0.3s linear, padding-right 0.3s linear;
      padding-left: 0;
      padding-right: 46px;
    }

    .light {
      background-color: #555555;
      border-radius: 25px;
      transition: padding-left 0.3s linear, padding-right 0.3s linear;
      padding-left: 46px;
      padding-right: 0;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .social {
    display: flex;
    align-items: center;

    .gototop {
      margin: 0 50px;
    }
  }

  .column {
    img {
      margin: 10px;
    }
  }

  .divide {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #d4d4d4;
    margin: 20px 0;
  }

  .boldtext {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
  }
}
